[run]
branch = True

[report]
omit =
    */samples/*
    */conftest.py
    # Don't report coverage over platform-specific modules.
    googleoauth2django/apps.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
